.info-button {
    min-width: 7.5rem;
    min-height: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #777;
    background-color: #FFF;
    box-sizing: border-box;
    cursor: 'pointer';
}

.info-button:hover {
    opacity: .9;
}